# .env
SECRET_KEY=sua-chave-secreta-gigante-aqui-gerada-pelo-django
DEBUG=True
ALLOWED_HOSTS=127.0.0.1,localhost

# Configurações do Banco de Dados
DB_ENGINE=django.db.backends.postgresql
DB_NAME=sistema_servicos
DB_USER=seu_usuario_db
DB_PASSWORD=sua_senha_secreta_db
DB_HOST=localhost
DB_PORT=5432